@font-face {
    font-family: ZainBold;
    src: url(assets/fonts/Zain/Zain-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins/Poppins-VariableFont_wght.otf);
}

:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --accent-color: #085475;
    --footer-bg: #085475;
    --footer-text: #ffffff;
}

body {
    height: 100dvh;
    width: calc(100% - 20px);
    font-family: Poppins, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding-inline: 10px;
}

p {
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: 650;
}

h3 {
    font-weight: 500;
}

:is(h2, h3):hover {
    color: var(--accent-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.includes-gap {
    display: flex;
    gap: 10px;
}

.vertical {
    flex-direction: column;
}

section> :not(h2) {
    padding-inline: 10px;
}

header nav {
    display: flex;
    width: calc(100% - 30px);
    padding: 0px 15px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

header nav :not(img) {
    display: none;
}

header nav .logo {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.hero {
    border-radius: 15px;
    background: url('assets/images/pexels-enginakyurt-2684375.webp') center/cover no-repeat;
    height: 320px;
    text-align: center;
    color: white;
    flex-direction: column;

}

a.cta-button {
    background-color: var(--accent-color);
    text-decoration: none;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

a.cta-button:hover {
    background-color: #063a55;
}

.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    height: 200px;
    position: relative;
    background: none;
    padding: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    font-size: 13px;
    color: white;
    overflow: hidden;
}

.card:hover {
    outline: var(--accent-color) 2px solid;
}

.card::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    filter: blur(2px) brightness(0.8);
    z-index: -1;
    background-size: cover;
}

.card .title{
    font-size: 24px;
    font-weight: 500 ;
}

#garda::before {
    background-image: url("./assets/images/pexels-lorenzo-160659027-30858298.webp");
}

#croatia::before {
    background-image: url("./assets/images/pexels-goran-vrakela-64248-245121.webp");
}

#upper-adria::before {
    background-image: url("./assets/images/pexels-chaitaastic-1796736.webp");
}

.boat {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.boat:hover h3 {
    font-weight: 550;
    color: var(--accent-color);
}

.boat .gallery {
    position: relative;
    border-radius: 15px;
    height: 180px;
    max-width: calc(100% - 10px);
}

.boat .gallery span{
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    z-index: 1;
}

.boat .gallery:hover span{
    display: flex;
}

.boat .gallery img:not([data-index="0"]) {
    display: none;
}

.boat .gallery img {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tree {
    --spacing: 1.5rem;
    --radius: 10px;
    padding-left: 0;
}

.tree li {
    display: block;
    position: relative;
}

.tree li li {
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
    list-style-type: none;
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.boat .price {
    justify-self: end;
    align-self: flex-end;
}

footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    gap: 15px;
    padding: 15px;
    width: calc(100vw - 25px);
    margin-top: 15px;
    margin-inline: -15px;
}

footer a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    header nav :not(img) {
        display: flex;
    }

    .boat-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

}